.Download {
    float: left;
    margin-top: 7vw;
    margin-left: 5.305vw;

    .title {
        color: $white;
        font-weight: 600;
        font-size: 4.7745vw;
        float: left;
    }

    .img {
        float: left;
        margin-top: 5vw;
        margin-left: 24vw;

        img {
            width: 39.7877vw;
            height: 11.9363vw;
        }
    }
}
