.SettingBlock {
    margin-left: 9.4791vw;
    width: 61.7187vw;
    height: 23.927vw;
    color: $white;

    .setting-block__title {
        font-size: 1.25vw;
        margin-bottom: 1.927vw;
    }

    .setting-block__form-setting {
        float: left;

        .setting-block__left-form {
            float: left;

            .setting-block__label {
                font-size: 1vw;
                color: $yellowLk;
                margin-bottom: 1.7187vw;
            }

            .setting-block__input {
                color: $white;
                padding: 0.002vw;
                padding-bottom: 0.5208vw;
                background: transparent;
                width: 19.1666vw;
                border: none;
                border-bottom: 0.025vw solid rgba(255, 255, 255, 0.7);
                outline: none;
                font-size: 1.25vw;
                margin-bottom: 2.0833vw;
                display: block;
            } 
            ::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }

            .setting-block__dont-remember {
                font-size: 1vw;
                height: 2vw;
                color: $yellowLk;
            }

            .setting-block__button-change {
                width: 10vw;
                height: 2.8125vw;
                border-radius: 2.0833vw;
                border: 0.052vw solid $white;
                background: $bgTransparent;
                margin-top: 0.5vw;
                float: left;

                div {
                    margin-left: 2.7vw;
                    float: left;
                    font-size: 1vw;
                    margin-top: 0.805vw;
                    color: $white;
                }
            }
        }

        .setting-block__right-form {
            float: right;
            margin-left: 21.5937vw;

            .setting-block__label {
                color: $yellowLk;
                font-size: 1vw;
                margin-bottom: 1.7187vw;
            }
            .setting-block__input {
                color: $white;
                padding: 0.002vw;
                padding-bottom: 0.5208vw;
                background: $bgTransparent;
                width: 19.1666vw;
                border: none;
                border-bottom: 0.025vw solid rgba(255, 255, 255, 0.5);
                outline: none;
                font-size: 1.25vw;
                margin-bottom: 1.0833vw;
                display: block;
            } 
            ::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
