.SpentPackage {

    margin-top: 1.5vw;
    float: left;

    .package {
        border: 0.2604vw solid $white;
        border-radius: 2.0833vw;
        width: 43.5416vw;
        height: 10.1562vw;
        float: left;

        .PackageInfoRate {
            float: left;
            margin-left: 1.7708vw;
            width: 17.5vw;
            margin-top: 1.0937vw;
    
            .country {
                font-size: 1.3541vw;
                font-weight: 600;
                color: $white;
            }
    
            .rate-info {
                font-weight: 700;
                color: $yellowLk;
                font-size: 1.3541vw;
                height: 1.1741vw;
            }
        }

        .until {
            margin-top: 1.0937vw;
            margin-right: 1.0937vw;
            color: $white;
            font-size: 1.1458vw;
            margin-bottom: 1.9vw;
            width: 15.2083vw;
            margin-left: 3vw;
            float: right;
    
            .date {
                color: $yellowLk;
            }
        }

        .price-amount {
            float: right;
            color: $yellowLk;
            font-size: 2.6vw;
            margin-right: 1.0937vw;
            margin-top: 0.7vw;

            >span {
                color: $white;
            }
        }

        .quota {
            margin-top: 1.7708vw;
            color: $yellowLk;
            float: left;
            font-size: 2.2916vw;
            font-weight: 600;
            margin-left: 1.7708vw;
            width: 18vw;
        }
    }
}
