.DeviceDetail {

    @import './packageBlockDevice/PackageBlockDevice.scss';

    width: 50vw;
    margin: auto;
    z-index: 100;
    background: $cabinetBG;
    position: absolute;
    left: 25vw;
    top: 10vw;

    .wrap {

        margin-left: 3.2815vw;

        .device-name {
            margin-top: 2.3958vw;
            font-weight: 600;
            color: $white;
            font-size: 2.0833vw;
            margin-bottom: 1.875vw;
        }
    
        .device-action {
    
            float: left;
    
            .img-action {
                float: left;
    
                .device-img {
                    float: left;
                    width: 11.1979vw;
                    height: 10.7291vw;
                }
            }
            
            .device-right-action {
                
                float: right;
                width: 32.8vw;

                .whose-text {
                    font-weight: 600;
                    color: $white;
                    font-size: 2.6041vw;
                    text-align: center;

                    .status {
                        width: 1.0616vw;
                        height: 1.0416vw;
                        margin-bottom: 1vw;
                        margin-left: 0.5vw;
                    }
                }
    
                .buttons-action {
                    float: right;
                    margin-top: 2.8vw;
    
                    .button-buy {
                        width: 15.2083vw;
                        height: 2.9166vw;
                        font-weight: 600;
                        background: $yellowLk;
                        border-radius: 2.0833vw;
                        margin-bottom: 0.5702vw;
                        text-align: center;
                        margin-left: 2.5416vw;
                        color: black;
                        cursor: pointer;
                        float: left;
                
                        >div {
                            margin-top: 0.9vw;
                            text-align: center;
                            font-size: 1.0416vw;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    
}
