.DetailedInfo {
    
    float: left;
    margin-top: 1.5vw;

    .button {
        font-size: 1.0416vw;
        width: 100%;
        border-radius: 0.5vw;
        outline: none;
        border: none;
        height: 3.5416vw;
        background: transparent;
        border: 0.02vw solid white;
        float: left;
        margin-top: 1vw;
        color: white;
        font-weight: 500;
        cursor: auto;
    }

    .button-buy {
        font-size: 1.0416vw;
        width: 100%;
        border-radius: 0.5vw;
        outline: none;
        border: none;
        height: 3.5416vw;
        background: $yellowLk;
        float: left;
        margin-top: 1vw;
        color: black;
        font-weight: 500;
    }

    @import './line/Line.scss';
}
