.ActivePackage {
    
    
    .title {
        margin-bottom: 1.5386vw;
        font-size: 1.5625vw;
        font-weight: 400;
        color: $yellowLk;
        font-family: 'TT Travels';
    }
    
    .package {
        border: 0.2604vw solid $white;
        border-radius: 2.0833vw;
        width: 43.5416vw;
        height: 10.1562vw;
        float: left;

        .PackageInfoRate {
            float: left;
            margin-left: 1.7708vw;
            width: 7.5vw;
            margin-top: 1.0937vw;
    
            .country {
                font-size: 1.3541vw;
                font-weight: 600;
                color: $white;
            }
    
            .rate-info {
                font-weight: 700;
                color: $yellowLk;
                font-size: 1.3541vw;
                height: 1.1741vw;
            }
        }

        .until {
            margin-top: 1.0937vw;
            margin-right: 1.0937vw;
            color: $white;
            font-size: 1.1458vw;
            margin-bottom: 1.9vw;
            width: 15.2083vw;
            margin-left: 3vw;
            float: right;
    
            .date {
                color: $yellowLk;
            }
        }

        .progressBar {
            float: left;
            border: 0.025vw solid $white;
            width: 20.3958vw;
            height: 2.9166vw;
            margin-left: 1.7708vw;
            margin-top: 1.5937vw;
            border-radius: 1.1vw;
    
            .bar {
                float: left;
                border-radius: 1.1vw;
                background: $progressColorActive;
                height: 100%;
            }

            &.small-bar {
                border-radius: 0.7vw;
    
                .bar {
                    border-radius: 0.7vw;
                }
            }
    
        }
        .amount {
            margin-left: 1.2915vw;
            float: left;
            
            .spent {
                color: $yellowLk;
                font-size: 2.2916vw;
                font-weight: 600;
                margin-bottom: -0.4vw;
                margin-top: 0.7vw;
            }
            
            .total {
                font-weight: 400;
                color: white;
                font-size: 1vw;
            }
        }

        .price-amount {
            float: right;
            color: $yellowLk;
            font-size: 2.6vw;
            margin-right: 1.0937vw;
            margin-top: 0.7vw;

            >span {
                color: $white;
            }
        }
    }
}
