.EntrySetting {
    margin-left: 9.4791vw;
    width: 61.7187vw;
    height: 23.927vw;
    color: $white;

    .title {
        font-size: 1.25vw;
        margin-bottom: 1.927vw;
    }

    .change-setting {
        float: left;
        width: 60vw;

        .left-block {
            float: left;

            .label {
                font-size: 1vw;
                color: $yellowLk;
                margin-bottom: 1.7187vw;
            }

            .input {
                color: $white;
                padding: 0.002vw;
                padding-bottom: 0.5208vw;
                background: transparent;
                width: 19.1666vw;
                border: none;
                border-bottom: 0.025vw solid rgba(255, 255, 255, 0.7);
                outline: none;
                font-size: 1.25vw;
                margin-bottom: 2.0833vw;
                display: block;
            } 
            .input:focus {
                border-color: $yellowLk;
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
            .input:disabled {
                opacity: 0.5;
            }

            .dont-remember {
                font-size: 1vw;
                height: 2vw;
                color: $yellowLk;
            }

            .button-change {
                width: 10vw;
                height: 2.8125vw;
                border-radius: 2.0833vw;
                border: 0.052vw solid $white;
                background: $bgTransparent;
                margin-top: 0.5vw;
                float: left;
                outline: none;

                div {
                    font-size: 1vw;
                    color: $white;
                }
            }

            .button-change:disabled {
                opacity: 0.5;
            }

            .status {
                width: 23vw;
                float: right;
                margin-left: 2vw;
                margin-top: 0.9vw;
                font-size: 1.5vw;
                color: $yellowLk;
            }
        }

        .right-block {
            float: right;

            .label {
                color: $yellowLk;
                font-size: 1vw;
                margin-bottom: 1.7187vw;
            }
            .input {
                color: $white;
                padding: 0.002vw;
                padding-bottom: 0.5208vw;
                background: $bgTransparent;
                width: 19.1666vw;
                border: none;
                border-bottom: 0.025vw solid rgba(255, 255, 255, 0.5);
                outline: none;
                font-size: 1.25vw;
                margin-bottom: 1.0833vw;
                display: block;
            } 
            .input:focus {
                border-color: $yellowLk;
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
