.StatisticLine {
    border-top: 0.025vw solid $white;
    width: 100%;
    float: left;
    height: 2.6562vw;

    .statistic-line__dot {
        margin-top: 1.0416vw;
        float: left;
        background: $yellowLk;
        margin-left: 1.7187vw;
        width: 0.677vw;
        height: 0.677vw;
        border-radius: 50%;

        &.blue {
            background: rgba(40, 210, 214, 1);
        }

        &.yellow {
            background: $yellowLk;
        }
    }

    .statistic-line__text {
        margin-top: 0.7vw;
        color: $white;
        margin-left: 1.5vw;
        font-size: 1.0416vw;
        font-weight: 400;
        float: left;
    }

    .statistic-line__value {
        margin-top: 0.6vw;
        float: right;
        margin-right: 1.666vw;
        font-weight: 600;
        font-size: 1.25vw;
        color: $white;
    }
}
