.WithoutPassportData {

    background: rgba(214, 36, 36, 1);
    text-align: center;
    float: left;
    width: 100%;
    height: 3.64vw;

    .text {
        color: $white;
        margin-top: 1vw;
        font-size: 1.25vw;
    }
}
