.BalanceBlock {
    
    width: 62.5vw;
    height: 6.3401vw;
    margin-right: 8.6458vw;
    margin-left: 34.8437vw;
    margin-top: 2.7083vw;
    color: $white;

    .balance-block__wrap {
        float: left;
        height: 6.3401vw;
        
        .balance-block__balance {
            background: $bgTransparent;
            float: left;
            width: 28.125vw;
            height: 9.8401vw;
            border: 0.0520vw solid white;
            border-radius: 1vw 0 0 1vw;
            
            .balance-block__text {
                font-size: 1.875vw;
                margin-top: 3.5875vw;
                margin-left: 1.2083vw;
                text-align: center;
                font-weight: 600;

                span {
                    color: white;
                    font-size: 2.2916vw;
                    text-align: center;
                    font-weight: 600;
                    margin-left: 1vw;
                }
            }
        }
    }

    @import './topUp/TopUp.scss';
}
