.ChooserWrapper {

    margin-top: 7.4479vw;
    float: left;
    
    .img-arrow-back {
        margin-left: 2.75vw;
        float: left;
        cursor: pointer;
        margin-top: 1vw;
        :hover {
            opacity: 0.5;
        }

        img {
            float: left;
            width: 5.2983vw;
            height: 2.8645vw;
        }
    }

    @import './blocks/search/Search.scss';
    @import './blocks/detailedRate/DetailedRate.scss';
    @import './blocks/chooseDevice/ChooseDevice.scss';
}
