.ChooseDevice {

    float: left;
    width: 88.8125vw;
    
    .title {
        color: white;
        font-size: 1.5625vw;
        font-weight: 600;
        margin-top: 1.4vw;
        margin-left: 2.3vw;
    }

    .Spinner {
        float: right;
        margin-top: 9vw;
        margin-right: 25vw;
    
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 5.3333vw;
            height: 5.3333vw;
            margin-left: 0.8vw;
            margin-top: 0.1vw;
            border: 0.3166vw solid #fff;
            border-radius: 50%;
            -moz-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            -ms-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fff transparent transparent transparent;
        }
    
        .lds-ring div:nth-child(1) {
            -moz-animation-delay: -0.45s;
            -ms-animation-delay: -0.45s;
            -webkit-animation-delay: -0.45s;
            animation-delay: -0.45s;
        }
    
        .lds-ring div:nth-child(2) {
            -moz-animation-delay: -0.3s;
            -ms-animation-delay: -0.3s;
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
        }
    
        .lds-ring div:nth-child(3) {
            -moz-animation-delay: -0.15s;
            -ms-animation-delay: -0.15s;
            -webkit-animation-delay: -0.15s;
            animation-delay: -0.15s;
        }
    }

    @import './addDevice/AddDevice.scss';
    @import './device/Device.scss';
    @import './disabledDevice/DisabledDevice.scss';
}
