.steps {
  position: relative;
  padding-top: 62px;
  background-color: $color-input;

  :global {
    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper-pagination-bullet {
        border-radius: 36px;
        width: 12px;
        height: 4px;
        background: $color-ash;
        opacity: 1;
        transition: 0.3s ease-in-out;

        &-active {
          opacity: 1;
        }

        @include md-block {
          width: 45px;
        }

        @include xl-block {
          width: 8px;
          height: 8px;
          background-color: $color-line;

          &-active {
            width: 14px;
            height: 14px;
            background-color: $color-ash;
          }
        }
      }

      @include xl-block {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  @include xl-block {
    padding-top: 135px;
  }
}

.title {
  margin: 0 0 $strong-offset;
  font: $font-heading-6;
  text-align: center;
  color: $color-off-black;

  @include xl-block {
    margin-bottom: 52px;
    font: $font-heading-3;
  }
}

.sliderImage {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  height: 270px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, $color-input 3%, rgba(239, 240, 247, 0));

    @include xl-block {
      background: none;
    }
  }

  img {
    width: 70%;

    @include xl-block {
      width: 350px;
    }
  }

  &Tall {
    height: 370px;

    @include xl-block {
      display: block;
      width: auto;
      height: 700px;
    }
  }

  @include xl-block {
    display: block;
    width: auto;
    height: 700px;
  }
}

.counter {
  margin-bottom: 4px;
  font: $font-body-medium-m;
  color: $color-off-black;
  opacity: 0.5;
}

.slideTitle {
  margin: 0 0 $small-offset;
  font-weight: 700;
  font-size: rem-calc(20);
  line-height: rem-calc(28);
}

.sliderText {
  margin: 0 0 $rare-offset;
  font: $font-body-regular-m;
  line-height: rem-calc(24);
}

.appstores {
  display: flex;
  flex-wrap: wrap;
  gap: $rare-offset;

  li {
    width: 159px;

    a {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding-left: $small-offset;
      height: 42px;
      background-color: #000;
    }
  }

  @include sm-block {
    justify-content: center;
  }

  @include xl-block {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.content {
  @include xl-block {
    display: flex;
    height: 800px;
    overflow: hidden;
  }
}

.sliderWithImages {
  @include xl-block {
    overflow: hidden;
    margin-left: 150px;
    height: 100%;

    :global {
      .swiper-container {
        margin-right: 88px;
      }

      .swiper-wrapper {
        display: flex;
        flex-direction: column;
        width: 350px;
      }

      .swiper-slide {
      }
    }
  }
}

.textSlider {
  position: relative;

  &::after {
    @include xl-block {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 35%;
      background-image: linear-gradient(to top, $color-input 2%, rgba(239, 240, 247, 0));
      pointer-events: none;
    }
  }

  @include xl-block {
    width: 520px;
    height: 100%;

    :global {
      .swiper-wrapper {
        display: flex;
        flex-direction: column;

        height: 858px !important;
      }

      .swiper-slide {
        margin-bottom: -10%;

        > div {
          display: none;
        }

        h3 {
          font: $font-link-m;
          opacity: 0.3;
        }

        &-active {
          //height: 450px!important;

          h3 {
            font: $font-heading-3;
            color: $color-ash;
            opacity: 1;
          }

          > div {
            display: block;
          }
        }

        &-prev {
          margin-bottom: 0;
          transform: translateY(148%);
        }

        &:not(:first-child) {
          margin-top: 15%;

          &.swiper-slide-active {
            margin-top: 20%;
          }
        }

        &:first-of-type {
          margin-top: -20%;
          margin-bottom: 0%;

          &.swiper-slide-active {
            margin-top: -45%;
            margin-bottom: -5%;
          }
        }
      }

      &-next {
        height: 20px;
      }
    }
  }

  @include xl-block {

    :global {
      .swiper-container {
        position: static;
      }

      .swiper-pagination {
        right: -130px;
        top: 25%;
      }
    }
  }
}

.download {
  .qrcode {
    display: none;
    margin-right: $middle-offset;
    width: 180px;
    height: 180px;

    @include xl-block {
      display: block;
    }
  }

  @include xl-block {
    display: flex;
    align-items: center;
  }
}

.subTitle {
  font: $font-body-regular-s;
  line-height: rem-calc(18);
  color: $color-label;
}
