.DatePicker {

    float: left;

    .order-detail {
        float: left;
        width: 14.5833vw;
        height: 2.9166vw;
        background: $yellowLk;
        border-radius: 2.0833vw;
        text-align: center;
        color: black;
        cursor: pointer;
        outline: none;
        border: none;

        >div {
            font-size: 1.0416vw;
            font-weight: 600;
        }
    }
}
