.Banner {
    width: 100vw;
    height: 26.53vw;
    background: $yellowLk;
    float: left;
    position: sticky;
    top: 0;

    .left-block {
        float: left;
        margin-left: 5.5702vw;
        margin-top: 3.183vw;
        width: 61.5384vw;

        .text {
            color: black;
            font-weight: 500;
            float: left;
            font-size: 3.183vw;
        }

        .download {
            float: left;
            width: 19.8938vw;
            height: 6.1vw;
            margin-top: 4vw;
        }
    }

    .phone-img {
        margin-left: 3vw;
        float: left;
        width: 18.8328vw;
        height: 22.8116vw;
        margin-top: 3.8vw;
    }

    .cross-close {
        float: right;
        width: 4.244vw;
        height: 4.244vw;
        margin-top: 3vw;
        margin-right: 3vw;
    }

    @media screen and (orientation:landscape) {
        height: 11vw;   

        .left-block {
            margin-top: 1vw;
            margin-left: 2.5vw;

            .text {
                font-size: 2vw;
            }

            .download {
                width: 9.8938vw;
                height: 3.1vw;
                margin-top: 1vw;
            }

        }

        .phone-img {
            margin-left: 14vw;
            float: left;
            width: 10.8328vw;
            height: 9.8116vw;
            margin-top: 1.3vw;
        }

        .cross-close {
            width: 2.244vw;
            height: 2.244vw;
            margin-top: 2vw;
            margin-right: 2vw;
        }
    }
}
