.Footer {

    float: left;
    width: 100%;
    margin-top: 1.25vw;
    margin-bottom: 2vw;

    .navigation {
        float: right;

        .left-navigation {
            width: 2.2395vw;
            height: 2.2396vw;
            float: left;
            margin-right: 1.5vw;
            cursor: pointer;
        }

        .right-navigation {
            width: 2.2395vw;
            height: 2.2396vw;
            float: right;
            cursor: pointer;
        }
    }

    @import './orderDetalization/OrderDetalization.scss';
}
