.TopUp {

    float: right;
    width: 28.125vw;
    height: 9.8401vw;
    background: transparent;
    border: 0.0520vw solid $white;
    border-radius: 0 1vw 1vw 0;
    color: $yellowLk;
    background: $bgTransparent;

    .top-up__form {
        margin-top: 0.9057vw;
        margin-left: 2.5vw;
        
        >div:nth-child(1) {
            font-size: 1.875vw;
            margin-bottom: 1.6711vw;
            font-weight: 600;
        }

        .top-up__input {
            padding: 0.002vw;
            border: none;
            background: transparent;
            border-bottom: 0.0520vw solid rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 8.8541vw;
            height: 1.6101vw;
            float: left;
            font-size: 1.1458vw;
            outline: none;
            color: $white;
        }
        ::placeholder {
            color: $yellowLk;
            font-family: 'TT Travels';
        }

        .top-up__text {
            float: left;
            color: $yellowLkOpacity;
            font-size: 1vw;
            margin-right: 11.4583vw;
        }
    }
}
