.WhyBlock {
    
    color: white;
    width: 83.5937vw;
    height: 24.5219vw;
    margin: auto;
    margin-left: 9.8958vw;

    .left {
        margin-top: 3.5223vw;
        float: left;
        width: 59.6875vw;
        
        .title {
            font-size: 3.125vw;
            margin-bottom: 2.0798vw;
            font-weight: 700;
        }
        .text {
            margin-bottom: 1.1070vw;
            font-size: 1.3020vw;
            text-align: center;
            font-weight: 700;
        }
        .imgs {
            margin-top: 6.1932vw;

            .left-part {
                width: 17.3437vw;
                float: left;
                margin-right: 2.3437vw;

                .img_world {
                    margin: auto;
                    width: 8.8020vw;
                    height: 8.5350vw;
                    display: block;
                    margin-bottom: 1.3082vw;
                }
            }
            .center-part {
                width: 17.3437vw;
                float: left;
                margin-right: 2.3437vw;
                
                .img_touch {
                    margin: auto;
                    width: 6.2458vw;
                    height: 8.6692vw;
                    display: block;
                    margin-bottom: 1.3082vw;
                }
            }
            .right-part {
                width: 17.3437vw;
                float: left;
                margin-right: 2.3437vw;

                .img_travel {
                    margin: auto;
                    width: 8.2812vw;
                    height: 8.3337vw;
                    display: block;
                    margin-bottom: 1.8811vw;;
                }
            }
        }
    }

    .right {
        margin-top: 3.5223vw;
        float: right;
        margin-bottom: 0.8050vw;
        .img_women {
            width: 23.906vw;
            height: 36.5219vw;
        }
    }
}
