.PackItem {
    width: 33.1666vw;
    height: 3.3456vw;
    margin-top: 0.6711vw;

    .size {
        float: left;
        width: 19.5vw;
        font-size: 1.5625vw;
        font-weight: 400;
    }
    
    .price {
        float: right;
        width: 13vw;
        font-weight: bold;
        font-size: 1.5625vw;
        font-weight: 600;
        text-align: start;
    }
}
