.Modals {
 
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);

    @import './waitForPayment/WaitForPayment.scss';
    @import './deleteDevice/DeleteDevice.scss';
    @import './createDevice/CreateDevice.scss';
    @import './confirmPurchase/ConfirmPurchase.scss';
}
