.Balance {

    width: 62.5vw;
    height: 6.3401vw;
    margin-right: 8.6458vw;
    margin-left: 34.8437vw;
    margin-top: 2.7083vw;
    color: $white;
    float: left;
    
    @import './current/CurrentBalance.scss';
    @import './topUp/TopUpBalance.scss';
}
