.PacksCarousel {
    float: left;
    margin-left: -1vw;

    .relative-wrapper {
        position: relative!important;
        width: 92vw;
        height: 22vw;
        float: left;

        .slider {
            float: left;
            margin-left: -2.5vw;
            margin-top: 2.8055vw;
            width: 88vw;
            height: 22vw;
            
        }

        .button-left {
            height: 18.1354vw;
            width: 3vw;
            cursor: pointer;
            float: left;
            background: transparent;
            border: none;
            outline: none;
            position: absolute;
            left: -3.5vw;
            top: 2vw;
            padding: 0;
        }
        
            .arrow {
                float: left;
                width: 1.5625vw;
                height: 2.6041vw;
            }
        
        
        .button-right {
            float: right;
            cursor: pointer;
            height: 18.1354vw;
            width: 3vw;
            background: transparent;
            border: none;
            outline: none;
            padding: 0;
            position: absolute;
            right: 2vw;
            top: 2vw;
        
            .arrow {
                float: right;
                width: 1.5625vw;
                height: 2.6041vw;
            }
        
            
        }
    }
}

