.Question {
    height: 3.3854vw;
    float: left;
    border-bottom: 0.025vw solid $white;
    color: $white;
    width: 100%;

    &.show {
        height: 7vw;
        transition: 0.3s all ease;
    }

    &.hidden {
        transition: 0.3s all ease;
        height: 3.3854vw;
    }
    
    .title {
        float: left;
        margin-left: 1.5vw;
        margin-top: 1.2026vw;
        font-weight: 500;
        font-size: 1.3vw;
    }
    
    .text {
        font-size: 1vw;
        height: auto;
        font-weight: 500;
        margin-top: 0.8vw;
        float: left;
        margin-left: 1.5vw;
        width: 95%;

        &.show {
            transition: 0.2s all ease;
            opacity: 1;
            visibility: visible;
        }

        &.hidden {
            transition: 0.2s all ease;
            opacity: 0;
            visibility: hidden;
        }
    }


    .img {
        float: right;
        margin-right: 2vw;
        margin-top: 1.0416vw;
        margin-bottom: 1vw;
        cursor: pointer;

        .icon {
            width: 1.5vw;
            height: 1vw;
            float: right;
        }

        &.show {
            transform: rotate(180deg);
            transition: 0.3s all ease-in-out;
        }

        &.hidden {
            transform: rotate(360deg);
            transition: 0.3s all ease-in-out;
        }
        
    }
}

