.IndexPage {

    margin: auto;
    background: rgba(71, 126, 144, 1);
    width: 100%;
    float: left;

    @import './blocks/header/Header.scss';
    @import './blocks/download/Download.scss';
    @import './blocks/chooser/Chooser.scss';
    @import './blocks/banner/Banner.scss';

}
