.Rate {
    
    margin-top: 5vw;
    float: left;

    .Pack {

        float: left;
        width: 90.7161vw;
        height: 68.7002vw;
        border-radius: 3.5vw;
        border: 0.02vw solid $white;    
        margin-bottom: 10vw;

        .wrapper {
            float: left;
            margin: 3.4482vw;
            color: $white;

            .operator-name {
                font-size: 5.7vw;
                font-weight: 400;
                float: left;
                width: 100%;
            }

            .type {
                width: 100%;
                color: $yellowLk;
                font-size: 3.7135vw;
                float: left;
                margin-top: 4vw;
            }

            .DetailedInfo {
                float: left;
                margin-top: 4.1618vw;

                .button-buy {
                    width: 85.1458vw;
                    font-size: 4.244vw;
                    border-radius: 3.5vw;
                    outline: none;
                    border: none;
                    height: 10.0583vw;
                    background: $yellowLk;
                    float: left;
                    color: black;
                    font-weight: 500;
                }

                .Line {
                    float: left;
                    width: 100%;
                    margin-bottom: 6vw;
                
                    .img-icon {
                        width: 6.366vw;
                        height: 6.366vw;
                        float: left;
                    }
                
                    .text {
                        float: left;
                        font-size: 4.7745vw;
                        margin-left: 3.183vw;
                        font-weight: 400;
                    }
                
                    .amount {
                        color: $yellowLk;
                        float: right;
                        font-size: 4.7745vw;
                        font-weight: 500;
                    }
                
                }
                
            }
        }
    }

    @media (max-width:950px) and (max-height: 450px) and (orientation:landscape) {

        .Pack {

            float: left;
            width: 40.7161vw;
            height: 30.7002vw;
            border-radius: 3.5vw;
            border: 0.02vw solid white;
            margin-bottom: 5vw;
            margin-left: 4vw;
            

            .wrapper {
                margin: 2.4482vw;

                .operator-name {
                    font-size: 2.366vw;
                }
                .type {
                    margin-top: 1.5vw;
                    font-size: 1.7135vw;
                    width: 62%;
                }

                .DetailedInfo {
                    margin-top: 3.1618vw;

                    .button-buy {
                        width: 36vw;
                        font-size: 2vw;
                        border-radius: 3.5vw;
                        outline: none;
                        border: none;
                        height: 5.0583vw;
                        font-weight: 500;
                    }

                    .Line {

                        width: 36vw;
                        margin-bottom: 1.5vw;

                        .img-icon {
                            width: 3.366vw;
                            height: 3.366vw;
                        }

                        .text {
                            font-size: 2.3745vw;
                            margin-left: 1.583vw;
                        }

                        .amount {
                            font-size: 2.2vw;

                        }
                    }
                }
            }
        }    
    }
}
