.DetailedWrapper {
 
    width: 82.8125vw;
    margin-left: 8.5316vw;
    margin-top: 3vw;
    float: left;
    margin-bottom: 1.5vw;

    .Spinner {
        margin-left: 40vw;
    }

    .empty-charges {
        font-size: 2vw;
        margin-left: 29.3vw;
        color: white;
        font-weight: 600;
    }
    
    @import './detailed/Detailed.scss';
}

