.TutorialBlock {    
    color: white;
    width: 79.1666vw;
    margin: auto;

    .tutorial-block__left {
        float: left;
        width: 52.0833vw;

        .tutorial-block__top {

            .tutorial-block__title {
                font-size: 3.125vw;
                margin-bottom: 2.0798vw;
                font-weight: 700;
            }

            .tutorial-block__text {
                margin-bottom: 1.1741vw;
                font-size: 1.3020vw;
                font-weight: 700;
            }
        }

        .tutorial-block__bottom {
            margin-bottom: 2.1133vw;

            .tutorial-block__left-qr {
                float: left;
                margin-right: 3.0208vw; 

                .tutorial-block__img_appstore {
                    margin-top: 0.9392vw;
                    width: 10.625vw;
                    height: 3.0462vw;
                    display: block;
                    margin-bottom: 0.4696vw;

                }
                .tutorial-block__img_qr-img {
                    width: 10.3645vw;
                    height: 10.3645vw;
                    display: block;

                }
            }
            .tutorial-block__qr {
                float: left;
                margin-right: 3.0208vw;

                .tutorial-block__img_googlePlay {
                    margin-top: 0.9392vw;
                    width: 10.625vw;
                    height: 3.0462vw;
                    display: block;
                    margin-bottom: 0.4696vw;

                }
                .tutorial-block__img_qr-img {
                    width: 10.3645vw;
                    height: 10.3645vw;
                    display: block;

                }
            }
            .tutorial-block__get-qr {
                float: left;
                margin-right: 3.0208vw;
                font-size: 1.5625vw;
                text-align: center;
                font-weight: 700;
                
                .tutorial-block__apk {
                    cursor: pointer;
                    border: 0.2083vw solid white;
                    width: 9.8875vw;
                    height: 2.177vw;
                    font-size: 1.302vw;
                    margin-top: 1vw;
                    margin-bottom: 0.8vw;

                    div {
                        margin-top: 0.4234vw;
                    }
                }
                .tutorial-block__getQr {
                    cursor: pointer;
                    width: 9.8875vw;
                    height: 9.8875vw;
                    border: 0.2083vw solid white;
                    font-size: 1.3020vw;

                    div {
                        margin-top: 2.3vw;
                        width: 70%;
                        margin-left: 1.5vw;
                        text-align: center;
                    }
                }
            }
        }
    }

    .tutorial-block__right {
        float: right;
        width: 27.0833vw;

        .tutorial-block__img_phone {
            width: 13.4375vw;
            margin-left: 13.0208vw;
            height: 27.2187vw;
            margin-top: 3.5vw;
            
        }
    }
}
