.Chooser {
    
    float: left;
    margin-top: 4vw;
    margin-left: 4vw;
    width: 92vw;

    .search {
        width: 68vw;
        height: 14.5888vw;
        border: 0.25vw solid $white;
        border-radius: 5vw;
        outline: none;
        background: transparent;
        margin-top: 3vw;
        background: url('./resources/img/lupa.png') no-repeat right;
        background-size: 8vw;
        background-position-x: 78vw;
        padding: 0;
        padding-left: 7vw;
        padding-right: 16vw;
        color: $white;
        font-size: 6vw;
    }

    ::placeholder {
        color: $white;
    }

    .back {
        color: $yellowLk;
        text-align: center;
        font-size: 6vw;
        font-weight: 600;
    }

    .country {
        color: white;
        font-size: 8vw;
        margin-top: 4vw;
        font-weight: 600;
        float: left;
    }

    @import './rate/Rate.scss';
    @import './rates/Rates.scss';

    @media screen and (orientation:landscape) {

        .search {
            width: 76vw;
            height: 8.5888vw;
            border: 0.25vw solid white;
            border-radius: 3vw;
            margin-top: 1vw;
            background-size: 5vw;
            background-position-x: 84vw;
            padding: 0;
            padding-left: 7vw;
            padding-right: 8vw;
            font-size: 4vw;
        }

        .back {
            font-size: 4vw;
        }

        .country {
            font-size: 6vw;
            text-align: center;
            float: none;
        }
    }
}
