.RestorePassword {

    background: rgba(71, 126, 144, 1);
    width: 100%;
    float: left;
    margin-top: 9.2838vw;

    .back-to-main-button {
        font-size: 4.2312vw;
        width: 73.4748vw;
        height: 12.4668vw;
        border-radius: 3.5vw;
        outline: none;
        border: none;
        background: transparent;
        float: left;
        margin-top: 1vw;
        color: white;
        font-weight: 500;
        border: 1vw solid white;
        margin-left: 13.4vw;
        margin-top: 6vw;
        
        // .back-to-main-text {
        //     text-align: center;
        //     color: white;
        //     margin-top: 0.2vw;
        //     font-size: 1.2vw;
        // }
    }

    .close {
        float: right;
        width: 1vw;
        height: 1vw;
        margin-right: 2vw;
        margin-top: -2vw;
        cursor: pointer;
    }

    .title {
        font-size: 6.8965vw;
        font-weight: 700;
        text-align: center;
        color: $yellowLk;
    }

    .text {
        text-align: center;
        width: 100%;
        color: white;
        font-size: 4.4vw;
        margin-top: 2vw;
    }

    .inputs-block {

        margin-top: 7vw;
        margin-left: 4.7745vw;
        margin-right: 1.5625vw;
        float: left;

        .input-email {
            padding: 0.025vw;
            float: left;
            display: block;
            color: white;
            font-size: 4.7745vw;
            background-color: transparent;
            width: 75.7161vw;
            height: 15.3846vw;
            border: 1.1562vw solid white;
            border-radius: 3.7812vw;
            margin-bottom: 7.6923vw;
            background-image: url('./resources/img/mail.png'), url('./resources/img/input-line.png');
            background-position: left, left;
            background-repeat: no-repeat, no-repeat;
            background-size: 5.8355vw, 0.2vw 6.5vw;
            background-position-x: 3vw, 11vw;
            padding-left: 13.6458vw;
            border-left: 1.1562vw solid white;
            outline: none;
        }

        .input-email:disabled {
            opacity: 0.5;
        }

    

        ::placeholder {
            color: $white;
        }

        .input-email:-webkit-autofill,
        .input-email:-webkit-autofill:hover,
        .input-email:-webkit-autofill:focus,
        .input-email:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #fff !important;
        }

        input::-ms-clear, input::-ms-reveal {
            display: none;
        }


        .button-next {
            cursor: pointer;
            z-index: 10;
            width: 26.5251vw;
            height: 26.5251vw;
            display: block;
            float: right;
            margin-right: 4vw;
            margin-top: 5.5vw;
            margin-bottom: 3vw;
        }
    
        .already-register {
            color: $yellowLk;
            font-weight: 400;
            float: left;
            cursor: pointer;
            font-size: 4.2432vw;
            margin-left: 22vw;
            text-align: center;
            border-bottom: 0.3vw solid $yellowLk;
        }
    
        .error {
            width: 100%;
            font-weight: 600;
            color: rgba(231, 43, 43, 1);
            font-size: 4.25vw;
            text-align: center;
            float: left;
            margin-top: 4vw;
        }
     
        
        .Spinner {
    
            z-index: 10;
            width: 5.2083vw;
            height: 5.2083vw;
            display: block;
            float: right;
            margin-right: 25vw;
            margin-top: 7.5vw;
        
            &.verify-spinner {
                margin-left: 22.5vw;
                margin-right: 0;
                float: none;
                margin-top: 5vw;
            }
        
            .lds-ring {
                display: inline-block;
                position: relative;
                width: 5.2083vw;
                height: 5.2083vw;
            }
        
            .lds-ring div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 25.8541vw;
                height: 25.8541vw;
                margin: 0.5208vw;
                border: 1.5208vw solid #fff;
                border-radius: 50%;
                -moz-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                -ms-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #fff rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.0);
            }
        
            .lds-ring div:nth-child(1) {
                -moz-animation-delay: -0.45s;
                -ms-animation-delay: -0.45s;
                -webkit-animation-delay: -0.45s;
                animation-delay: -0.45s;
            }
        
            .lds-ring div:nth-child(2) {
                -moz-animation-delay: -0.3s;
                -ms-animation-delay: -0.3s;
                -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s;
            }
        
            .lds-ring div:nth-child(3) {
                -moz-animation-delay: -0.15s;
                -ms-animation-delay: -0.15s;
                -webkit-animation-delay: -0.15s;
                animation-delay: -0.15s;
            }
            
        }

    }
    .title-success {
        width: 80%;   
        text-align: center;
        font-size: 5vw;
        color: white;
        margin: auto;
        margin-top: 5vw;
    }
    
}
