.DetailAndNavigation {

    float: left;
    width: 100%;
    margin-top: 1.25vw;

    .order-detail {
        float: left;
        width: 14.5833vw;
        height: 2.9166vw;
        background: $yellowLk;
        border-radius: 2.0833vw;
        text-align: center;
        color: black;
        cursor: pointer;

        >div {
            margin-top: 0.9vw;
            text-align: center;
            font-size: 1.0416vw;
            font-weight: 500;
        }
    }

    .detailAndNavigation__navigation {
        float: right;

        .left-navigation {
            width: 2.2395vw;
            height: 2.2396vw;
            float: left;
            margin-right: 1.5vw;
            cursor: pointer;
        }

        .right-navigation {
            width: 2.2395vw;
            height: 2.2396vw;
            float: right;
            cursor: pointer;
        }
    }
}
