.Question {
    height: 3.3854vw;
    float: left;
    border-bottom: 0.025vw solid $white;
    color: $white;
    width: 100%;

    .question__title {
        float: left;
        margin-left: 1.5vw;
        margin-top: 1.2026vw;
        font-size: 0.9375vw;
        font-weight: 500;
    }

    .question__text {

    }

    .question__img {
        float: right;
        margin-right: 2vw;
        margin-top: 1.0416vw;
        margin-bottom: 1vw;
        cursor: pointer;

        .question__icon {
            width: 1.5vw;
            height: 1vw;
            float: right;
        }

    }
}
