.ActivePackage {
    width: 82.8125vw;
    height: 10.1562vw;
    border: 0.0520vw solid white;
    margin-bottom: 2vw;
    border-radius: 1vw;
    background: $bgTransparent;
    float: left;
    margin-left: 8.5316vw;


    .left-block {
        margin-top: 0.9895vw;
        margin-left: 1.0833vw;
        height: 7.3958vw;
        width: 50.9375vw;
        display: inline-block;
        float: left;

        .WhoseDevice {
            float: left;
            width: 45vw;
            height: 2vw;
            
            .device {
                display: inline-block;
                color: $yellowLk;
                font-weight: 400;
                font-size: 1.3541vw;
                float: left;
            }
            
            .whose-device {
                padding: 0.002vw;
                float: left;
                width: 9vw;
                background: inherit;
                border: none;
                border-bottom: 0.0220vw solid rgba(white, 0.6);
                color: $white;
                margin-left: 0.5208vw;
                font-size: 1.3541vw;
                text-align: center;
                outline: none;
            } 

            .whose-device:disabled {
                opacity: 0.5;
            }

            ::placeholder {
                color: white;
                font-family: 'TT Travels';
            }

            .whose-name {
                color: $white;
                text-align: center;
                font-weight: 400;
                font-size: 1.3541vw;
                float: left;
                margin-left: 1vw;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 9vw;
            }

            .pen {
                width: 1.0416vw;
                height: 1.0416vw;
                float: left;
                cursor: pointer;
                margin-left: 1vw;
                margin-top: 0.2vw;
            }

            .error {
                color: $white;
                font-weight: 400;
                font-size: 1.3541vw;
                float: left;
                margin-left: 1vw;
                color: rgba(214, 36, 36, 1);
            }
        }

        .progress-block {
            width: 52.3437vw;
            height: 3.8541vw;
            float: left;
            margin-top: 1.6772vw;

            .info-rate {
                float: left;
                margin-right: 1vw;
                width: 7.5vw;

                .country {
                    font-size: 1.3541vw;
                    font-weight: 600;
                    color: $white;
                    width: 8.5vw;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
        
                .rate-info {
                    font-weight: 700;
                    color: $yellowLk;
                    font-size: 1.3541vw;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    .price-block {
        margin-top: 1.875vw;
        display: inline-block;
        width: 10.9vw;
        height: 8.2vw;
        float: left;

        .text {
            color: rgba(255, 240, 90, 0.6);
            font-size: 1.2vw;
            margin-bottom: 1.6041vw;
        }

        .amount {
            color: rgba(255, 240, 90, 1);
            font-size: 2.6vw;

            span {
                color: white
            }
        }
    }
}
