.RegistrationDialog {
    width: 50vw;
    height: 34.8645vw;
    color: black;
    left: 25%;
    right: 28%;
    top: 15%;
    bottom: 15%;
    position: absolute;
    float: left;
    background: linear-gradient(270deg, #FFF05A 0%, #FF785A 99.11%);
    z-index: 100;
    border-radius: 3.125vw;

    .close {
        float: right;
        width: 1vw;
        height: 1vw;
        margin-right: 2vw;
        margin-top: -1.2vw;
        cursor: pointer;
    }

    .title {
        font-size: 1.3020vw;
        margin-top: 0.9728vw;
        font-weight: 700;
        text-align: center;
        color: white;
    }

    .text-step {
        color: black;
        font-size: 1.0416vw;
        text-align: center;
        margin-top: 0.5vw;
    }

    .img-step {
        width: 7.8175vw;
        height: 7.8175vw;
        float: left;
        margin-left: 21.2vw;
        margin-top: 0.5vw;
    }

    .text-action {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 1vw;
        font-size: 1.0416vw;
        color: black;
    }

    .inputs-block {

        height: 4.8641vw;
        width: 38.0208vw;
        margin-bottom: 0.4360vw;
        margin-top: 1.2025vw;
        margin-left: 11.4166vw;
        margin-right: 1.5625vw;
        float: left;

        .img-password {
            float: left;
            margin-left: -2.8vw;
            margin-top: 0.7vw;
            cursor: pointer;

            img {
                float: left;
                float: left;
                width: 1.6145vw;
                height: 1.6145vw;
            }
        }

        .input-email {
            padding: 0.025vw;
            float: left;
            display: block;
            color: white;
            font-size: 1.1458vw;
            background-color: transparent;
            width: 23.4375vw;
            height: 2.6772vw;
            border: 0.1562vw solid white;
            border-radius: 0.7812vw;
            margin-bottom: 0.5367vw;
            background-image: url('./resources/img/mail.png'), url('./resources/img/input-line.png');
            background-position: left, left;
            background-repeat: no-repeat, no-repeat;
            background-size: 1.1458vw, 0.1vw 1.5vw;
            background-position-x: 0.8854vw, 3vw;
            padding-left: 3.6458vw;
            border-left: 0.1562vw solid white;
            outline: none;
        }

        .input-email:disabled {
            opacity: 0.5;
        }

        .input-password {
            padding: 0.025vw;
            float: left;
            display: block;
            color: $white;
            font-size: 1.1458vw;
            width: 20.4375vw;
            height: 2.6772vw;
            border: 0.1562vw solid white;
            border-radius: 0.7812vw;
            margin-bottom: 0.5367vw;
            background-image: url('./resources/img/protected.png'), url('./resources/img/input-line.png');
            background-position: left, left;
            background-repeat: no-repeat, no-repeat;
            background-size: 1.1458vw, 0.1vw 1.5vw;
            background-position-x: 0.8854vw, 3vw;
            padding-left: 3.6458vw;
            padding-right: 3vw;
            border-left: 0.1562vw solid white;
            outline: none;
            background-color: transparent;
        }

        .input-password:disabled {
            opacity: 0.5;
        }

        ::placeholder {
            color: $white;
        }

        .input-email:-webkit-autofill,
        .input-email:-webkit-autofill:hover,
        .input-email:-webkit-autofill:focus,
        .input-email:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #fff !important;
        }

        input::-ms-clear, input::-ms-reveal {
            display: none;
        }


        .button-next {
            cursor: pointer;
            z-index: 10;
            width: 5.2083vw;
            height: 5.2083vw;
            display: block;
            float: right;
            margin-right: 2vw;
            margin-top: 2.5vw;
        }

        .already-register {
            color: black;
            float: left;
            margin-top: 0.4vw;
            cursor: pointer;
            font-size: 1.3vw;
            margin-left: 6.2vw;
            border-bottom: 0.05vw solid black;
        }

        .error {
            width: 28.4166vw;
            padding-bottom: 0.5031vw;
            font-weight: 600;
            color: rgba(231, 43, 43, 1);
            font-size: 1.25vw;
            float: left;
            margin-top: 0.5vw;
            text-align: center;
        }

        .title-success {
            float: left;
            width: 28vw;
            text-align: center;
            font-size: 1vw;
        }

        .verify-button {
            border: 0.1604vw solid white;
            width: 17.6875vw;
            float: left;
            border-radius: 0.7vw;
            margin-top: 0.7vw;
            height: 1.9166vw;
            margin-left: 4.9vw;
            cursor: pointer;
            
            .verify-text {
                text-align: center;
                color: white;
                margin-top: 0.3vw;
                font-size: 1.2vw;
            }
        }
    }
}
