.VerifyDialog {
    width: 50vw;
    height: 15.525vw;
    color: black;
    left: 25%;
    right: 28%;
    top: 15%;
    bottom: 15%;
    position: absolute;
    float: left;
    background: linear-gradient(270deg, #FFF05A 0%, #FF785A 99.11%);
    z-index: 100;
    border-radius: 3.125vw;
    

    .success {
        font-size: 3vw;
        text-align: center;
        margin-top: 2.5vw;
        color: white;
        width: auto;
    }

    .back-to-main-button {
        border: 0.1604vw solid white;
        width: 21vw;
        padding: 0.5vw;
        float: left;
        border-radius: 0.7vw;
        margin-top: 1.7vw;
        height: 1.9166vw;
        margin-left: 14vw;
        cursor: pointer;
        
        .back-to-main-text {
            text-align: center;
            color: white;
            margin-top: 0.2vw;
            font-size: 1.2vw;
        }
    }

    .error {
        padding-bottom: 0.5031vw;
        font-weight: 600;
        color: red;
        font-size: 2.25vw;
        width: auto;
        margin-top: 3.5vw;
        text-align: center;
    }
}
