.PricesBlock {
    >div {
        float: left;
    }

    .prices-block__prices {
        @import "./item/PackItem.scss";
    }
    .prices-block__planeBlock {
        margin-left: 1vw;
        margin-top: 1vw;
        
        img {
            width: 17.2916vw;
            height: 13.6947vw;
        }

        .prices-block__connect {
            margin-top: 0.5vw;
            margin-left: 1vw;
            
            a {
                >div {
                    height: 3.481vw;
                    border-radius: 2.0405vw;
                    border: 0.2604vw #000 solid;
                    width: 15.7395vw;
                    text-align: center;
                    font-size: 1.302vw;
                    font-weight: 500;
                    line-height: 3.481vw;
                    color: #000;
                    cursor: pointer;
                    
                }
            }
        } 
    }
}
