.Spinner {
    
    margin-left: 22.3958vw;

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 5.2083vw;
        height: 5.2083vw;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 3.8541vw;
        height: 3.8541vw;
        margin: 0.5208vw;
        border: 0.5208vw solid #fff;
        border-radius: 50%;
        -moz-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        -ms-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.0);
    }

    .lds-ring div:nth-child(1) {
        -moz-animation-delay: -0.45s;
        -ms-animation-delay: -0.45s;
        -webkit-animation-delay: -0.45s;
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        -moz-animation-delay: -0.3s;
        -ms-animation-delay: -0.3s;
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        -moz-animation-delay: -0.15s;
        -ms-animation-delay: -0.15s;
        -webkit-animation-delay: -0.15s;
        animation-delay: -0.15s;
    }

}
