.VerifyRegistration {
    
    .title-success {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 4.5vw;
        color: white;
        font-weight: 600;
        margin-bottom: 1vw;

        span {
            color: $yellowLk;
        }

    }

    .input-code {
        padding: 0.025vw;
        float: left;
        display: block;
        color: yellow;
        font-size: 8vw;
        width: 45vw;
        height: 12.3846vw;
        border: 1.1562vw solid white;
        padding-left: 25vw;
        padding-right: 20vw;
        border-radius: 3.7812vw;
        border-left: 1.1562vw solid white;
        outline: none;
        background-color: transparent;
        margin-top: 3vw;
        letter-spacing: 6vw;
    }

    .input-code:disabled {
        opacity: 0.5;
    }

    .input-code::placeholder{
        color: white;
        opacity: 0.5;
        font-size: 5vw;
        letter-spacing: 1vw;
    }

    .submit-button {
        width: 80.6875vw;
        float: left;
        border-radius: 6.7vw;
        margin-top: 5vw;
        height: 10vw;
        margin-left: 5vw;
        cursor: pointer;
        outline: none;
        border: none;
        border: 0.8vw solid #fff05a;
        background: transparent;

        
        div {
            text-align: center;
            color: $yellowLk;
            font-size: 4.2vw;
        }
    }

    .next-button {
        float: right;
        margin: 4vw;
        margin-top: 4vw;
        width: 26.5251vw;
        height: 26.5251vw;
    }

    .submit-button:disabled {
        opacity: 0.5;
    }

    .verify-button {
        width: 80.6875vw;
        float: left;
        border-radius: 6.7vw;
        margin-top: 5vw;
        height: 10vw;
        margin-left: 5vw;
        cursor: pointer;
        outline: none;
        border: none;
        border: 0.8vw solid white;
        background: transparent;
        margin-bottom: 5vw;

        
        div {
            text-align: center;
            color: white;
            font-size: 4.2vw;
        }
    }
    .verify-button:disabled {
        opacity: 0.5;
    }

    .error {
        width: 100%;
        font-weight: 600;
        color: rgba(231, 43, 43, 1);
        font-size: 3.7135vw;
        text-align: center;
        float: left;
        margin-top: 3vw;
        margin-bottom: 0vw;
    }

    .retry {
        float: left;
        margin-top: 7.5vw;
        margin-left: -11vw;
        width: 5.5702vw;
        height: 5.5702vw;
    }

    .Spinner {
    
        z-index: 10;
        width: 18.2083vw;
        height: 32.2083vw;
        display: block;
        float: right;
        margin-top: 3.5vw;
        margin-right: 9vw;

        .lds-ring {
            display: inline-block;
            position: relative;
            width: 5.2083vw;
            height: 5.2083vw;
        }
    
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 22.8541vw;
            height: 22.8541vw;
            margin: 0.5208vw;
            border: 1.5208vw solid #fff;
            border-radius: 50%;
            -moz-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            -ms-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fff rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.0);
        }

        .lds-ring div:nth-child(1) {
            -moz-animation-delay: -0.45s;
            -ms-animation-delay: -0.45s;
            -webkit-animation-delay: -0.45s;
            animation-delay: -0.45s;
        }
    
        .lds-ring div:nth-child(2) {
            -moz-animation-delay: -0.3s;
            -ms-animation-delay: -0.3s;
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
        }
    
        .lds-ring div:nth-child(3) {
            -moz-animation-delay: -0.15s;
            -ms-animation-delay: -0.15s;
            -webkit-animation-delay: -0.15s;
            animation-delay: -0.15s;
        }
    
    }

    @media (max-width:950px) and (max-height: 450px) and (orientation:landscape) {

        .title-success {
            font-size: 3.5vw;
        }

        .input-code {
            border: 0.1562vw solid white;
            border-left: 0.1562vw solid white;
            letter-spacing: 8vw;
            padding-left: 21vw;
            padding-right: 10vw;
            width: 54.7161vw;
            height: 9.3846vw;
        }

        .input-code::placeholder {
            font-size: 6vw;
        }

        .submit-button {
            border: 0.3 solid $yellowLk;
        }

        .verify-button {
            border: 0.3 solid white;
        }

        .retry {
            float: left;
            width: 4.5702vw;
            height: 4.5702vw;
            margin-top: 6vw;
            margin-left: -8vw;
        }

        .next-button {
            width: 14.5251vw;
            height: 14.5251vw;
        }

        .Spinner {
    
            z-index: 10;
            width: 18.2083vw;
            height: 22.2083vw;
            display: block;
            float: right;
            margin-top: 3.5vw;
            margin-right: 2vw;
    
            .lds-ring {
                display: inline-block;
                position: relative;
                width: 5.2083vw;
                height: 5.2083vw;
            }
        
            .lds-ring div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 13.8541vw;
                height: 13.8541vw;
                margin: 0.5208vw;
                border: 0.8208vw solid #fff;
                border-radius: 50%;
                -moz-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                -ms-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #fff rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.0);
            }
    
            .lds-ring div:nth-child(1) {
                -moz-animation-delay: -0.45s;
                -ms-animation-delay: -0.45s;
                -webkit-animation-delay: -0.45s;
                animation-delay: -0.45s;
            }
        
            .lds-ring div:nth-child(2) {
                -moz-animation-delay: -0.3s;
                -ms-animation-delay: -0.3s;
                -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s;
            }
        
            .lds-ring div:nth-child(3) {
                -moz-animation-delay: -0.15s;
                -ms-animation-delay: -0.15s;
                -webkit-animation-delay: -0.15s;
                animation-delay: -0.15s;
            }
        
        }
    }
}
