.PassportWrapper {


    .passport-block {
        &.active {
            opacity: 1;
            transition:visibility 0.3s linear,opacity 0.3s linear, height 0.3s linear;
            visibility: visible;
            margin-left: 2.3958vw;
            float: left;
            background: transparent;
            border-radius: 1.3vw;
            width: 35.625vw;
            height: 20.7916vw;
            margin-top: 2vw;
            border: 0.025vw solid $white;
        }
    
        &.disabled {
            opacity: 0;
            transition:visibility 0.2s linear,opacity 0.2s linear, height 0.2s linear;
            visibility: hidden;
            margin-left: 2.3958vw;
            float: left;
            background: transparent;
            border-radius: 1.3vw;
            width: 35.625vw;
            height: 0.001vw;
            margin-top: 2vw;
            border: 0.025vw solid $white;
        }
        
        @import './passportView/PassportView.scss';
        @import './passportEdit/PassportEdit.scss';
    }
    @import './showPasportImage/ShowPasportImage.scss';
}
