.CreateDevice {
    width: 50vw;
    height: 14.0625vw;
    color: $white;
    left: 25%;
    right: 25%;
    top: 35%;
    bottom: 20%;
    position: absolute;
    float: left;
    background: $cabinetBG;
    z-index: 100;
    border-radius: 1vw;

    .title {
        text-align: center;
        font-weight: 600;
        margin-top: 3vw;
        font-size: 1.3541vw;
    }

    .response {
        color: $yellowLk;
        text-align: center;
        font-weight: 600;
        margin-top: 6.5vw;
        font-size: 1.3541vw;
        height: 1vw;
    }

    .Button {
        width: 15.2083vw;
        border-radius: 2vw;
        border: none;
        text-align: center;
        color: $white;
        margin-top: 2.16vw;
        outline: none;
        height: 3vw;
        font-size: 1.3541vw;
    }

    .Button:disabled {
        opacity: 0.5;
    }

    .no {
        float: right;
        margin-right: 6.625vw;
        background: rgba(214, 36, 36, 1);
    }
    
    .yes {
        float: left;
        margin-left: 7.2395vw;
        background: rgba(29, 190, 104, 1);
    }

    .error {
        color: $white;
        font-weight: 400;
        font-size: 2vw;
        margin-top: 6vw;
        color: rgba(231, 43, 43, 1);
    }
}
