.Header {
    $height: 5.7812vw;
    height : $height;
    background-color: #000000;
    border-top-left-radius: 2.7812vw;
    border-top-right-radius: 2.7812vw;

    >div {
        height : $height;
        float: left;
    }

    .plane {
        position: relative;
        margin-left: 1.6666vw;
        width: 10.2vw;

        >img {
            position: absolute;
            margin: auto 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 10.1562vw;
            height: 4.7507vw;
        }
    }

    .question {
        line-height: $height;
        color: #ffffff;
        font-size: 3.125vw;
        font-weight: 700;
        white-space: nowrap;
        margin-left: 1vw;
    }

    .divider {
        margin-left: 1vw;
        
        img {
            height: 35.5849vw;
        }
    }

    .input {
        margin-left: 1vw;
        font-size: 2.0833vw;    
        height : $height;

        input {
            border: 0.2604vw solid #ffffff;
            background-color: #000000;
            width: 25vw;
            font-size: 2.0833vw;    
            margin-top: 1vw;
            height : 3.0vw;
            background: url('./resources/img/lupa.png') no-repeat right;
            background-size: 2.604vw;
            background-position-x: 26.9166vw;
            cursor: pointer;
            color: #ffffff;
            font-size: 2.0833vw;    
            padding-right: 3.8862vw;
            padding-left: 1vw;

            &::placeholder {
                color: rgba(255,255,255,0.5);
            }

            &:focus {
                outline: none;
            }
        } 
            
        position: relative;
            
        @import "./chooser/Chooser.scss";

    }
    /*    


    position: relative;
    
    >div {
        float: left;
        height: 5.7812vw;
        width: 100%;
        
        >div {
            float: left;
        }

        .plane {
            margin-left: 1.6666vw;
            margin-top: 0.5031vw;
    
            img {
                width: 10.1562vw;
                height: 4.7507vw;
                float: left;
            }
        }    
        
        .divided-line {
            height: 35.5849vw;
            margin-left: 5.125vw;
            float: left;
        }

    
        .input {

            float: right;

            input {
                float: right;
                outline: none;
                color: #ffffff;
                font-size: 2.0833vw;    
                background-color: #000000;
                border: 0.2604vw solid #ffffff;
                line-height: 2.4404vw;
                width: 20.4224vw;
                padding: 0.7555vw;
                margin-right: 3.6258vw;
                padding-right: 3.8862vw;
                padding-left: 1.9260vw;
                margin-top: 0.5702vw;
                padding-left: 1.9260vw;
                background: url('./img/lupa.png') no-repeat right;
                background-size: 2.604vw;
                background-position-x: 22.9166vw;
                cursor: pointer;
            } 
            ::placeholder {
                color: rgba(255,255,255,0.9);
            }
        }
    }

    // @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    //     .divided-line {
    //         margin-left: 3.8vw!important;
    //     }
    //     .input {

    //         input {
    //             line-height: 2.0104vw!important;
    //             width: 18.1vw!important;
    //             margin-right: 3.12vw!important;
    //             padding-right: 4.8862vw!important;
    //             margin-top: 0.97vw!important;
    //             padding-left: 1.526vw!important;
    //             background-position-x: 21.5166vw!important;
    //         }
    //     }
    // }
    */
}
