.Loyalty {
    width: 82.7083vw;
    margin-left: 8.5416vw;
    margin-top: 3vw;
    float: left;
    margin-bottom: 1.5vw;

    .title {
        text-align: center;
        font-size: 3vw;
        color: white;
        font-weight: 600;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .left-block {
        position: relative;
        float: left;
        margin-left: 2vw;

        .img-qr {
            width: 13.75vw;
            height: 13.75vw;
            float: left;
            margin-top: 2.3vw;
        }

        .img-relation {
            float: right;
            width: 2.2312vw;
            height: 2.2312vw;
        }

        .yellow-block {
            position: absolute;
            width: 18.75vw;
            height: 18.75vw;
            left: -2vw;
            top: -1vw;
        }
    }

    .right-block {

        float: right;
        color: $white;
        width: 60vw;

        .title {
            // float: left;
            // margin-bottom: 2vw;
            // font-size: 2.0833vw;
            // font-weight: 400;
            float: left;
            margin-top: 6vw;
            margin-bottom: 2vw;
            font-size: 4.0833vw;
            font-weight: 400;
            margin-left: 5vw;
        }

        .text {
            float: left;
            margin-bottom: 2vw;
            font-size: 1.5625vw;

            span {
                color: $yellowLk;
            }
        }

        .Button {

            &.buyQr {
                border: 0.2604vw solid transparent;
                background: #fff05a;
                width: 16.6875vw;
                float: left;
                border-radius: 2.0833vw;
                height: 2.4166vw;
                outline: none;
        
                div {
                    color: black;
                    text-align: center;
                    font-weight: 600;
                    font-size: 1.0416vw;
                }
            }
        }
    }

}
