.PrivateApplication {

    background: $cabinetBG;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

    @import './components/components.scss';
    @import './pages/PagesHolder.scss';
    @import './modals/Modal.scss';
    @import './pages/cabinet/blocks/navbar/Navbar.scss';
}

