.StatisticBlock {
    width: 26.0937vw;
    height: 24.8416vw;
    float: left;
    border: 0.052vw solid white;
    background: transparent;
    border-radius: 1vw;

    .statistic-block__title {
        font-weight: 700;
        font-size: 1.3541vw;
        width: 100%;
        text-align: center;
        float: left;
        margin-top: 1.3541vw;
        color: $yellowLk;
    }

    @import './staticticLine/StatisticLine.scss';
    @import './roundBlock/RoundBlock.scss';
}
