.DetailedBlock {

    width: 82.8125vw;
    margin-left: 8.5316vw;
    margin-top: 3vw;
    float: left;
    margin-bottom: 1.5vw;

    @import './statisticBlock/StatisticBlock.scss';
    @import './paymentsBlock/PaymentsBlock.scss';
}
