.TermsOfUse {

    @import '../../components/components.scss';
    @import '../../pages/index/blocks/infoBlock/InfoBlock.scss';

    
    
    .InfoBlock {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
    }
}
