.BuyRate {
    
    float: right;
    width: 18.2291vw;
    margin-top: 1.25vw;
    text-align: center;
    margin-right: 0.3vw;

    .until {
        color: $white;
        font-size: 1.1458vw;
        margin-bottom: 1.9vw;
        width: 15.2083vw;
        margin-left: 3vw;

        .date {
            color: $yellowLk;
        }
    }

    .button-buy {
        width: 15.2083vw;
        height: 2.9166vw;
        background: $yellowLk;
        border-radius: 2.0833vw;
        margin-bottom: 0.5702vw;
        text-align: center;
        margin-left: 2.5416vw;
        color: black;
        cursor: pointer;
        float: left;
        outline: none;
        border: none;

        >div {
            font-size: 1.0416vw;
            font-weight: 600;
        }
    }
    
    .off-rate {
        font-size: 0.7812vw;
        font-weight: 400;
        color: $yellowLkOpacity;
        margin-left: 2.5833vw;
        cursor: pointer;
    }
}
