.InfoBlock {
    
    float: left;
    margin-top: 5.8125vw;
    margin-left: 9.5312vw;
    margin-right: 6.927vw;
    width: 83.5937vw;
    padding-bottom: 2vw;

    .left-info-block {
        float: left;
        color: $white;
        font-size: 0.9375vw;
        font-weight: 500;
        margin-top: -6vw;


        .privacy {
            border-bottom: 0.05vw solid white;
            margin: 0.2vw 0;
            display: table;
            color: white;
            text-decoration: none;
        }
        :nth-child(4) {
            margin-bottom: 1.9791vw;
        }

        .requisites {
            margin: 0;
        }

    }

    .right-info-block {
        float: right;
        margin-top: 1.5vw;

        .mir {
            float: left;
            width: 9.8958vw;
            height: 2.9687vw;
            margin-top: 1vw;
        }

        .visa {
            float: left;
            width: 9.1666vw;
            height: 2.9687vw;
            margin-left: 2.4479vw;
            margin-top: 1vw;
        }

        .masterCard {
            float: right;
            margin-left: 2.4479vw;
            width: 6.927vw;
            height: 5.3645vw;
        }
    }
}
