.BlockBar {
    
    width: 52.3437vw;
    height: 3.8541vw;
    float: left;
    margin-top: 1.6772vw;

    .PackageInfoRate {
        float: left;
        margin-right: 1vw;
        width: 7.5vw;

        .country {
            font-size: 1.3541vw;
            font-weight: 600;
            color: $white;
        }

        .rate-info {
            font-weight: 700;
            color: $yellowLk;
            font-size: 1.3541vw;
            height: 1.1741vw;
        }
    }

    .progressBar {
        float: left;
        border: 0.025vw solid $white;
        width: 32.5vw;
        height: 2.9166vw;
        display: inline-block;
        border-radius: 1.1vw;

        .bar {
            float: left;
            border-radius: 1.1vw;
            background: $progressColorActive;
            height: 100%;
        }
    }
    .amount {
        margin-left: 2.2915vw;
        float: left;
        
        .spent {
            color: $yellowLk;
            font-size: 2.2916vw;
            font-weight: 600;
            margin-bottom: -0.4vw;
            margin-top: -0.3vw;
        }
        
        .total {
            font-weight: 400;
            color: white;
            font-size: 1vw;
        }
    }

    .price {

        float: right;
        color: white;
        margin-bottom: 1.6437vw;
        font-size: 2.6041vw;

        .num {
            color: $yellowLk;
        }
    }

}
