.PasswordRestoreDialog {
    width: 50vw;
    height: 17.525vw;
    color: black;
    left: 25%;
    right: 28%;
    top: 15%;
    bottom: 15%;
    position: absolute;
    float: left;
    background: linear-gradient(270deg, #FFF05A 0%, #FF785A 99.11%);
    z-index: 100;
    border-radius: 3.125vw;

    .back-to-main-button {
        border: 0.1604vw solid white;
        width: 21vw;
        padding: 0.5vw;
        float: left;
        border-radius: 0.7vw;
        margin-top: 1.7vw;
        height: 1.9166vw;
        margin-left: 14vw;
        cursor: pointer;
        
        .back-to-main-text {
            text-align: center;
            color: white;
            margin-top: 0.2vw;
            font-size: 1.2vw;
        }
    }

    .close {
        float: right;
        width: 1vw;
        height: 1vw;
        margin-right: 2vw;
        margin-top: -2vw;
        cursor: pointer;
    }

    .title {
        font-size: 1.3020vw;
        margin-bottom: 0.7715vw;
        margin-top: 0.9728vw;
        font-weight: 700;
        text-align: center;
        color: white;
    }

    .text {
        text-align: center;
        width: 80%;
        margin: auto;
        color: black;
        font-size: 1.4vw;
    }

    .inputs-block {

        height: 4.8641vw;
        width: 38.0208vw;
        margin-bottom: 0.4360vw;
        margin-top: 1.2025vw;
        margin-left: 11.4166vw;
        margin-right: 1.5625vw;
        float: left;

        .input-email {
            padding: 0.025vw;
            float: left;
            display: block;
            color: white;
            font-size: 1.1458vw;
            background-color: transparent;
            width: 23.4375vw;
            height: 2.6772vw;
            border: 0.1562vw solid white;
            border-radius: 0.7812vw;
            margin-bottom: 0.5367vw;
            background-image: url('./resources/img/mail.png'), url('./resources/img/input-line.png');
            background-position: left, left;
            background-repeat: no-repeat, no-repeat;
            background-size: 1.1458vw, 0.1vw 1.5vw;
            background-position-x: 0.8854vw, 3vw;
            padding-left: 3.6458vw;
            border-left: 0.1562vw solid white;
            outline: none;
        }

        .input-email:disabled {
            opacity: 0.5;
        }

    

        ::placeholder {
            color: $white;
        }

        .input-email:-webkit-autofill,
        .input-email:-webkit-autofill:hover,
        .input-email:-webkit-autofill:focus,
        .input-email:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #fff !important;
        }

        input::-ms-clear, input::-ms-reveal {
            display: none;
        }


        .button-next {
            cursor: pointer;
            z-index: 10;
            width: 5.2083vw;
            height: 5.2083vw;
            display: block;
            float: right;
            margin-right: 2vw;
            margin-top: -0.9vw;
        }

        .already-register {
            color: black;
            float: left;
            margin-top: 0.4vw;
            cursor: pointer;
            font-size: 1.3vw;
            margin-left: 7.2vw;
        }

        .error {
            width: 28.4166vw;
            padding-bottom: 0.5031vw;
            font-weight: 600;
            color: rgba(231, 43, 43, 1);
            font-size: 1.25vw;
            float: left;
            margin-top: 0.5vw;
            text-align: center;
        }

            .Spinner {
                margin-top: 0!important;
            }
        
    }
    .title-success {
        width: 28vw;   
        text-align: center;
        width: auto;
        font-size: 2vw;
        margin-top: 3vw;
    }
}


