.registration {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  padding-top: $small-offset;
  width: 100%;
  height: 100vh;
  background-color: $color-background;
  transform: translateX(-1000%);
  transition: transform 0.8s ease-in-out;
  will-change: transform, left, top;

  &.active {
    transform: translateX(0);

    @include xl-block {
      transform: translate(-50%, -50%);
    }
  }

  @include xl-block {
    left: 50%;
    top: 50%;
    overflow: hidden;
    border-radius: $middle-offset;
    padding-top: 0;
    height: 706px;
    max-width: 628px;
  }
}

.top {
  position: relative;
  padding-right: $gutter;
  padding-left: $gutter;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-line;
  }

  svg {
    display: none;
    margin-top: 7px;
    margin-right: $strong-offset;

    @include xl-block {
      display: block;
    }
  }

  @include xl-block {
    display: flex;
    padding-top: $strong-offset;
    padding-bottom: $middle-offset;
    padding-left: $big-offset;
    background: $color-gradient-dark;
  }
}

.title {
  margin: 0 auto $middle-offset;
  padding-bottom: $middle-offset;
  max-width: 272px;
  font: $font-subtitle-s;
  line-height: rem-calc(28);
  color: $color-ash;

  span {
    display: none;
    font: $font-body-regular-l;
    opacity: 0.5;

    @include xl-block {
      display: block;
      margin-top: 8px;
    }
  }

  @include xl-block {
    margin: 0;
    padding: 0;
    max-width: 420px;
    font: $font-heading-6;
    text-align: left;
  }
}

.burger {
  @include burger(18px, 18px, 2px);

  position: absolute;
  right: $gutter;
  top: 8px;

  @include xl-block {
    right: 38px;
    top: 38px;
  }
}

.container {
  p {
    margin: $middle-offset 0 $strong-offset;
    font: $font-body-regular-m;
    line-height: rem-calc(24);
    text-align: center;
    color: $color-off-black;

    @include xl-block {
      margin-right: auto;
      margin-bottom: $middle-offset;
      margin-left: auto;
      max-width: 484px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      &:not(:last-of-type) {
        margin-bottom: $rare-offset;

        @include xl-block {
          margin-bottom: 20px;
        }
      }

      &:last-of-type {
        margin-bottom: $middle-offset;
      }
    }

    button {
      &:first-of-type {
        margin-bottom: $small-offset;
      }

      @include xl-block {
        margin: 0 auto;
        max-width: 311px;
      }
    }

    @include xl-block {
      padding: 0 $strong-offset - $gutter;
    }
  }
}
