.CheckBtn {
    background: rgba(255, 240, 90, 1);
    width: 8.3333vw;
    height: 4.1145vw;
    border-radius: 0.5vw;
    float: right;
    margin-left: 0.5vw;
    cursor: pointer;

    &.disabled {
        opacity: 0.5;
    }
    
    .text-btn {
        text-align: center;
        color: black;
        margin-top: 1.4vw;
        font-size: 1vw;
        font-weight: 500;
    }
}
