/* Button style */

.btn {
  @include btn-reset;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $small-offset;
  width: 100%;
  transition: 0.3s ease-in-out;
  color: $color-ash;
  gap: $small-offset;
}

/* Button colors */

.primary {
  background: $color-green-300;

  &:hover {
    color: $color-green-300;
    background: $color-ash;
  }
}

.secondary {
  border: 1px solid $color-ash;
  font: $font-body-medium-l;
  color: $color-ash;
}

.text {

}

.dark {
  color: $color-off-white;
  background: $color-ash;
}

/* Button sizes */

.small {
  padding: $small-offset 22px;
  font: $font-link-s;
  font-size: rem-calc(16);
}

.medium {
  padding: $rare-offset $middle-offset;
  font: $font-link-m;
  font-size: rem-calc(18);
}

.large {
  padding: $gutter $strong-offset;
  font: $font-link-s;
  font-size: rem-calc(16);
}

.huge {
  padding: 19px 32px;
  font: $font-link-l;
  font-size: rem-calc(20);
}

/* disabled style */

.btn[disabled] {
  color: $color-off-white;
  background-color: $color-placeholder;
  opacity: 0.5;
  cursor: not-allowed;
}
