.TopUpBalance {
    float: left;
    width: 28.125vw;
    height: 9.8401vw;
    border: 0.0520vw solid $white;
    border-radius: 0 1vw 1vw 0;
    color: $yellowLk;
    background: $bgTransparent;

    .top-up-block {
        margin-top: 0.9057vw;
        margin-left: 2.5vw;
        float: left;
        
        >div:nth-child(1) {
            font-size: 1.875vw;
            margin-bottom: 1.6711vw;
            font-weight: 600;
        }

        .input {
            padding: 0.002vw;
            border: none;
            background: transparent;
            border-bottom: 0.0520vw solid rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 8.8541vw;
            height: 1.6101vw;
            float: left;
            font-size: 1.1458vw;
            outline: none;
            color: $yellowLk;
        }
        ::placeholder {
            color: $yellowLk;
            font-family: 'TT Travels';
        }

        .input:disabled {
            opacity: 0.5;
        }

        .text {
            float: left;
            color: $yellowLkOpacity;
            font-size: 1vw;
            margin-left: 1.2vw;
        }

        .error {
            color: red;
        }

        .button-top-up {
            float: left;
            border-radius: 2.0833vw; 
            border: 0.0520vw solid $white;
            width: 10vw;
            height: 2.8125vw;
            margin-left: 2.8645vw;
            margin-bottom: 0;
            cursor: pointer;
            outline: none;
            background: transparent;
            
            div {
                font-size: 1.1458vw;
                color: $white;
                text-align: center;
                font-weight: 500;
            }
        }

        .button-top-up:disabled {
            opacity: 0.5;
        }

        .payment-spinner {
            width: 1vw;
            height: 1vw;
        }
    }
}
