$yellowLk: rgba(255, 240, 90, 1);
$yellowLkOpacity: rgba(250, 240, 90, 0.6);
$cabinetBG: linear-gradient(300.97deg, #C4FFF9 -24.36%, #003554 99.15%);
$textNavLk: rgba(0, 53, 84, 1);
$white: rgba(255, 255, 255, 1);
$bgTransparent: transparent;
$notActiveBg: rgba(26, 72, 85, 0.6);
$progressColorActive: rgba(214, 36, 36, 1);

