.ConnectQrCodeDialog {
    width: 50vw;
    height: 23.8645vw;
    color: black;
    left: 25%;
    right: 28%;
    top: 15%;
    bottom: 15%;
    position: absolute;
    float: left;
    background: linear-gradient(270deg, #FFF05A 0%, #FF785A 99.11%);
    z-index: 100;
    border-radius: 3.125vw;

    .title {
        font-size: 1.3020vw;
        margin-top: 0.9728vw;
        font-weight: 700;
        text-align: center;
        color: white;
    }

    .text-step {
        color: black;
        font-size: 1.0416vw;
        text-align: center;
        margin-top: 1.5vw;
    }

    .img-step {
        width: 7.8175vw;
        height: 7.8175vw;
        float: left;
        margin-left: 21.2vw;
        margin-top: 1.5vw;
    }

    .text-action {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 1vw;
        font-size: 1.0416vw;
        color: black;
    }

    .button-topup {
        margin-top: 2vw;
        margin-left: 15.4vw;
        width: 19.6875vw;
        height: 2.9166vw;
        font-size: 1.0416vw;
        border-radius: 0.5vw;
        outline: none;
        border: none;
        background: transparent;
        border: 0.2vw solid white;
        float: left;
        color: $white;
        font-weight: 500;
        cursor: pointer;
    }
}
