.CheckButton {
    bottom: 2.2916vw;
    right: 3.177vw;
    position: fixed;
    z-index: 10;
    width: 12.0312vw;
    height: 4.1666vw;
    border-radius: 1.0416vw;
    background: linear-gradient(90deg, #2D4E96 0%, #85C9EE 100%);
    cursor: pointer;
    transition: all 0.5s ease;
    display: block;
    overflow: hidden;
    
    .text {
        color: white;
        text-align: center;
        margin-top: 1.1vw;
        font-size: 1.5625vw;
        // .old-text {
        //     opacity: 1;
        //     display: block;
        // }
        // .new-text {
        //     display: none;
        //     opacity: 0;
        // }
    }
}

.CheckButton:hover {
    width: 37.0833vw;
    transition: all 0.5s ease;

    // .text:hover {
    //     .old-text {
    //         opacity: 0;
    //         display: none;
    //     }
    //     .new-text {
    //         opacity: 1;
    //         display: block;
    //     }
    // }
    span {
        display: none;
    }
    ::after {
        // display: none;
        content: 'eSIM и мое устройство совместимы?';
    }

}
