.CheckButton {
    bottom: 2.2916vw;
    right: 3.177vw;
    position: fixed;
    z-index: 10;
    width: 12.0312vw;
    height: 4.1666vw;
    border-radius: 1.0416vw;
    background: linear-gradient(90deg, #2D4E96 0%, #85C9EE 100%);
    cursor: pointer;
    transition: all 0.5s ease;
    display: block;
    overflow: hidden;
    
    .text {
        color: white;
        text-align: center;
        margin-top: 1.1vw;
        font-size: 1.5625vw;
        white-space: nowrap; 
    }
}

.CheckButton:hover {
    width: 37.0833vw;
    transition: all 0.5s ease;

    span {
        display: none;
    }
    ::after {
        content: 'eSIM и мое устройство совместимы?';
    }

}
