.Application {
    height: 100%;

    .Mobile {
        display: none;
    }

    .Desktop {
        height: 100%;
        display: block;
    }

    @import './desktop/DesktopApplication.scss';
    
    @media (max-width: 420px) {
        
        .Mobile {
            height: 100%;
            display: block;
            background: rgba(71, 126, 144, 1);
        }
        
        .Desktop {
            display: none;
        }
        @import './mobile/MobileApplication.scss';
    }

    @media screen and (orientation:landscape) {
        .Mobile {
            height: 100%;
            display: block;
            background: rgba(71, 126, 144, 1);
        }

        .Desktop {
            display: none;
        }

        @import './mobile/MobileApplication.scss';
    }
}

