.HeaderBlock {
    margin-top: 1vw;
    font-size: 1.075vw;
    width:100%;

    div {

        img {
            height: 1.05vw;            
        }
    }

    .link-top {

        margin-left: 1vw;
        text-align: right;
        color: black;
        text-decoration: none;
        float: right;
        margin-right: 4vw;
        cursor: pointer;
        
    } 
}
