.Rates {

    margin-top: 2vw;
    float: left;
    width: 87vw;
    margin-bottom: 2vw;

    .title {
        color: $white;
        font-size: 2.0833vw;
        font-weight: 600;
        margin-top: 2vw;
    }

    .no-matches {
        text-align: center;
        margin-right: 10vw;
        margin-top: 4vw;
        color: white;
        font-weight: 600;
        font-size: 3vw;
    }

    .Spinner {

        margin-left: 35vw;
        margin-top: 10vw;
        float: left;

        .lds-ring {
            display: inline-block;
            position: relative;
          }
          .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 8vw;
            height: 8vw;
            margin-left: 0.8vw;
            margin-top: 0.1vw;
            border: 0.4166vw solid #fff;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fff transparent transparent transparent;
          }
          .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
          }
          .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
          }
          .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
          }
          @keyframes lds-ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          
    }

    @import './rateCountry/RateCountry.scss';
}
