.PassportDropDown {
    width: 82.9687vw;
    height: 5.625vw;
    margin-left: 8.802vw;
    border-radius: 1vw;
    background: $bgTransparent;
    border: 0.0520vw solid $white;
    margin-top: 3.0191vw;
    margin-bottom: 4.0254vw;

    &.show {
        transition: 0.3s height ease-in;
        height: 28.802vw;
    }
    
    &.hidden {
        height: 5.625vw;
        transition: 0.3s height ease-in;
    }
    
    .passport-text {
        float: left;
        width: 50.0625vw;
        margin-top: 2.0958vw;
        margin-left: 2.3958vw;

        .passport-img {
            margin-right: 0.7291vw;
            display: inline-block;
            float: left;

            img {
                width: 1.0416vw;
                height: 1.1458vw;
                float: left;
            }
        }

        div {
            color: $white;
            font-size: 1.15vw;
            float: left;
        }
    }

    .arrow {
        float: right;
        margin-right: 1.4583vw;
        width: 1.5104vw;
        height: 0.8854vw;
        margin-top: 2.3041vw;
        cursor: pointer;

        &.show {
            transform: rotate(180deg);
            transition: 0.3s transform ease-in-out;
        }
    
        &.hidden {
            transform: rotate(360deg);
            transition: 0.3s transform ease-in-out;
        }
    }

    .arrow:hover {
        opacity: 0.5;
    }

    @import './passportWrapper/PassportWrapper.scss';
}
