.background {
  position: relative;
  left: -$gutter;
  width: 105%;

  img {
    @include xl-block {
      border-radius: $middle-offset;
    }
  }

  @include xl-block {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: calc(1280px + #{$gutter * 2});
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

.container {
  position: relative;
}
