.TutorialBlock {    
    color: white;
    width: 79.1666vw;
    margin: auto;

    .left {
        float: left;
        width: 52.0833vw;

        .top {

            .title {
                font-size: 3.125vw;
                margin-bottom: 2.0798vw;
                font-weight: 700;
            }

            .text {
                margin-bottom: 1.1741vw;
                font-size: 1.3020vw;
                font-weight: 700;
            }
        }

        .bottom {
            margin-bottom: 2.1133vw;

            .left-qr {
                float: left;
                margin-right: 3.0208vw; 

                .img_appstore {
                    margin-top: 0.9392vw;
                    width: 10.625vw;
                    height: 3.0462vw;
                    display: block;
                    margin-bottom: 0.4696vw;

                }
                .img_qr-img {
                    width: 10.3645vw;
                    height: 10.3645vw;
                    display: block;

                }
            }
            .qr {
                float: left;
                margin-right: 3.0208vw;

                .img_googlePlay {
                    margin-top: 0.9392vw;
                    width: 10.625vw;
                    height: 3.0462vw;
                    display: block;
                    margin-bottom: 0.4696vw;

                }
                .img_qr-img {
                    width: 10.3645vw;
                    height: 10.3645vw;
                    display: block;

                }
            }
        }
    }

    .right {
        float: right;
        width: 27.0833vw;

        .img_phone {
            width: 13.4375vw;
            margin-left: 13.0208vw;
            height: 27.2187vw;
            margin-top: 3.5vw;
            
        }
    }
}
