.Header {
    float: left;
    margin-top: 5vw;
    margin-left: 5.305vw;

    .logo {
        color: white;
        font-size: 7.9575vw;
        font-weight: 600;
        margin-left: 24vw;
        float: left;
    }

    .title {
        float: left;
        color: $white;
        font-weight: 600;
        font-size: 6.366vw;
        margin-top: 5vw;
        width: 92vw;
    }

    @media (max-width:950px) and (max-height: 450px) and (orientation:landscape) {
        margin-top: 3vw;

        .logo {
            font-size: 6vw;
            margin-left: 28vw;
        }

        .title {
            text-align: center;
            width: 90%;
            font-size: 4.366vw;
        }
    }
}

